body{
    background-color: rgba(250, 67, 67, 0.898);
}

.grupo{
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.918);
    margin: 40px;
    width: 300px;
    padding: 30px;
    border-radius: 50px;
}

footer{
    text-align: center;
    
}